@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body {
  font-family: 'Lora', serif;
  margin: 0;
  background-color: #2d3436;
  background-image: 
        linear-gradient(to right, rgba(0, 204, 204, 1) 0%, rgba(0, 204, 204, 1) 50%, rgba(255, 245, 225, 0.5) 100%),
        linear-gradient(to left, rgba(173, 216, 230, 1) 0%, rgba(211, 240, 255, 0.8) 50%, rgba(245, 250, 255, 0.5) 100%),
        linear-gradient(135deg, #2bb8d1, #add8e6, #ffffff);

  background-blend-mode: lighten, overlay;
  min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p, strong, li {
    font-family: 'Lora', serif;
}